<nav id="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container">
        <a class="navbar-brand mr-lg-3" href="#">
            <img src="~/Images/Isometric/startup.svg" alt="NoBrand" height="25" width="25" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                </li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <nav class="nav-user">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle user-profile" href="#" id="navbardrop" data-toggle="dropdown">
                                    <span class="user-avarta">
                                        <img src="~/Images/Logo/Brand.png" class="img-thumbnail" alt="User Avarta" />
                                    </span>
                                    <span>
                                        <span class="user-name">Minh Tuấn</span>
                                        <span class="user-position">Developer</span>
                                    </span>
                                </a>

                                <div class="user-menu dropdown-menu animated slideIn w-100 mt-0">
                                    <div class=" dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>
                                    <a class="dropdown-item" title="Manage" href="@Url.Action("Index","Manage",routeValues: null)">
                                        <i class="fas fa-user-circle"></i>
                                        <span>Profile</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Log off</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                }
            }
            else
            {
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="loginLink" href="@Url.Action("Login","Account",routeValues: null)" class="nav-link">Login <i class="fas fa-user-plus"></i></a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>