@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
@import url(../Css/Icon/Font-Awesome.css);
/*#region Colors*/
/*#endregion*/
body {
  display: flex;
  flex-direction: column;
  height: 100%; }

/* ===================================================================================
                                  Common
   =================================================================================== */
/*#region Label*/
label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: .5rem; }

/*#endregion*/
/*#region Input*/
.hyper-form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .45rem .9rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #98a6ad;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  overflow: visible;
  font-family: inherit;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .hyper-form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #c1c9d0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*#endregion*/
/*#region Checkbox*/
.checkbox-control {
  position: relative;
  display: block;
  min-height: 1.35rem;
  padding-left: 1.5rem; }
  .checkbox-control .checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.175rem;
    opacity: 0; }
  .checkbox-control .checkbox-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top; }
    .checkbox-control .checkbox-label::before {
      position: absolute;
      top: .175rem;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      content: "";
      border-radius: .25rem;
      background-color: #ffffff;
      border: #dee2e6 solid 1px;
      -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
    .checkbox-control .checkbox-label::after {
      position: absolute;
      top: .175rem;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background: no-repeat 50%/50% 50%; }

/*#endregion*/
/*#region Button*/
.hyper-btn {
  display: inline-block;
  font-weight: 400;
  color: #6c757d;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .45rem .9rem;
  font-size: .9rem;
  line-height: 1.5;
  border-radius: .15rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .hyper-btn:hover {
    color: #6c757d;
    text-decoration: none; }

.hyper-btn-primary {
  color: #fff;
  background-color: #536de6;
  border-color: #536de6;
  -webkit-box-shadow: 0 0 0 rgba(83, 109, 230, 0.5);
  box-shadow: 0 0 0 rgba(83, 109, 230, 0.5); }
  .hyper-btn-primary:hover {
    color: #fff;
    background-color: #3251e1;
    border-color: #2647e0; }

.btn-google {
  height: 40px;
  width: 100%;
  border-width: 0;
  background: white;
  color: #737373;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0; }
  .btn-google:focus, .btn-google:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1); }
  .btn-google:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms; }
  .btn-google .icon-google {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box; }
  .btn-google .btn-google-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif; }

.btn-facebook {
  height: 40px;
  width: 100%;
  border-width: 0;
  background: #4267b2;
  color: #ffffff;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0; }
  .btn-facebook:focus, .btn-facebook:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1); }
  .btn-facebook:active {
    background-color: #3b5998;
    box-shadow: none;
    transition-duration: 10ms; }
  .btn-facebook .icon-facebook {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box; }
  .btn-facebook .btn-facebook-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif; }

/*#endregion*/
/* ===================================================================================
                                  Navigation
   =================================================================================== */
/*#region*/
#navigation {
  font-family: 'Nunito', sans-serif;
  height: auto;
  background-color: #313a46 !important;
  min-height: 70px; }

.nav-user {
  position: relative;
  box-sizing: border-box; }
  .nav-user ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .nav-user ul li {
      position: relative;
      margin-left: 0;
      max-height: 70px;
      float: left; }
      .nav-user ul li.show .user-name {
        color: #ffffff; }
      .nav-user ul li.show .user-position {
        color: #ffffff; }
      .nav-user ul li .nav-link {
        padding: 0;
        color: #98a6ad !important;
        min-width: 32px;
        display: block;
        text-align: center;
        margin: 0 10px; }
        .nav-user ul li .nav-link:hover {
          text-decoration: none; }
        .nav-user ul li .nav-link .noti-icon {
          font-size: 22px;
          vertical-align: middle;
          line-height: 70px; }
      .nav-user ul li .user-profile {
        padding: calc(31px / 2) 20px calc(31px / 2) 57px !important;
        text-align: left !important;
        display: block;
        position: relative;
        background-color: #3c4655;
        border: 1px solid #414d5d;
        border-width: 0 1px;
        max-height: 70px;
        margin: 0;
        white-space: nowrap;
        outline: 0 !important;
        box-sizing: border-box; }
        .nav-user ul li .user-profile::after {
          display: none; }
        .nav-user ul li .user-profile .user-avarta {
          position: absolute;
          top: calc(38px / 2);
          left: 15px; }
          .nav-user ul li .user-profile .user-avarta img {
            height: 32px;
            width: 32px; }
        .nav-user ul li .user-profile .user-name {
          display: block;
          font-weight: 600; }
        .nav-user ul li .user-profile .user-position {
          display: block;
          font-size: 12px; }
      .nav-user ul li .user-menu {
        margin: 0;
        padding: 4px 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e4eaf2;
        border-radius: .25rem;
        color: #6c757d;
        font-size: .9rem;
        float: left;
        -webkit-transition: all .3s ease;
        transition: all .3s ease !important;
        -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
        box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }
        .nav-user ul li .user-menu .dropdown-header {
          display: block;
          padding: .25rem 1.5rem;
          margin-bottom: 0;
          font-size: .875rem;
          color: inherit;
          white-space: nowrap;
          background-color: transparent;
          padding: 15px 20px; }
          .nav-user ul li .user-menu .dropdown-header h6 {
            font-size: 0.75rem;
            font-weight: 700; }
        .nav-user ul li .user-menu .dropdown-item i {
          margin-right: .375rem !important; }

/*#endregion*/
/* ===================================================================================
                                   Account Style
   =================================================================================== */
/*#region Login Page*/
.account-page {
  font-family: 'Nunito',sans-serif;
  color: #6c757d; }
  .account-page .card .card-header {
    text-align: center;
    background-color: #536de6; }
  .account-page .card .card-body header .card-title {
    font-size: 1.125rem;
    margin-top: 0;
    font-weight: 700 !important;
    text-align: center; }
  .account-page .card .card-body header .card-subtitle {
    color: #98a6ad;
    font-weight: 400;
    font-size: 14.4px;
    margin-bottom: 2.25rem; }
  .account-page .card .card-body #loginForm small {
    font-family: inherit; }

/*#endregion*/
/*#region Register Page*/
.account-page #registerForm small {
  font-family: inherit; }

/*#endregion*/
/* ===================================================================================
                                   Animation
   =================================================================================== */
/*#region*/
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; }
  0% {
    transform: translateY(1rem);
    opacity: 0; } }
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1; }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0; } }
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn; }

/*#endregion*/

/*# sourceMappingURL=MainStyle.css.map */
